@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Shizuru&display=swap');

* {
    box-sizing: border-box;
}

#toggle {
    border: none;
    background: none;
    cursor: pointer;
    font-size: xx-large;
}

:root {
    --bg-color: #99bde8;
    --container-bg: #fff;
    --font-color: #010101;
}

.darkMode{
    --bg-color: rgb(25, 19, 74);
    --body-bg: #252525;
    --container-bg: #555;
    --font-color:#fff;
}

span {
    font-family: 'Shizuru', cursive;
    font-size: x-large;
}

h1 {
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
    transition: all 500ms;
}

.container {
    background-color: var(--container-bg);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;
    transition: all 500ms;
}

.joke {
    color: (--font-color);
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}
  
.btn {
    background-color: #65a0e9;
    color: #fff;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 40px;
    font-size: 16px;
    cursor: pointer;
}  

.btn:active {
    transform: scale(0.95);
}
  
